.container-title
{
	display: inline-block;
	position: absolute;
	background: #F1DB60;
	width: 200px;
	height: 1000px;
}

.title
{
	font-family: 'Roboto', sans-serif;
	margin: 50px;
}

h3
{
	font-family: 'Roboto', sans-serif;
	margin: 20px;
}

.content-static
{
	background:  #FFF8D1;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	height: 1000px;
	widght: 400px;
}

















